@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    transition-timing-function: ease-out;
  }
  25% {
    transform: translateY(0%);
    transition-timing-function: ease-out;
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(0%);
    transition-timing-function: ease-in;
  }
  100% {
    transform: translateY(-100%);
    transition-timing-function: ease-in;
  }
}
.slideDown {
  animation: slideDown 7s forwards; 
}
