.h1 {
  @apply text-center font-bold text-3xl;
}

.form {
  @apply flex flex-col justify-around items-center;
  background-color: #E2F6FF;
  border: 2px solid black;
  padding: 5px;
}

.submission {
  @apply flex flex-row justify-center flex-wrap;
  width: 70%;
  padding: 5px;
}

.loading {
  opacity: 0.7;
  animation: table-loading 1s linear infinite alternate;
}

@keyframes table-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.label {
  @apply font-bold mb-4;
  display: block;
}

.input {
  border: 1px solid #067496;
  padding: 5px;
  margin: 5px;
}

.button {
  color: white;
  @apply rounded-[10px] font-semibold justify-self-end px-7 py-3;
}

.section {
  @apply flex flex-row justify-center;
  margin-top: 10px;
}

.table {
  @apply border-collapse;
  margin-top: 50px;
  width: 80%;
  max-width: 1200px;
}

.th,
.td {
  @apply border-solid border-2 border-gray-400 text-center overflow-auto;
}

.th {
  background-color: #f5f5f5;
}

.accept {
  background-color: green;
  color: white;
  @apply rounded-[5px] justify-self-end text-sm;
  width: 47%;
}

.deny {
  background-color: red;
  color: white;
  @apply rounded-[5px] justify-self-end text-sm;
  width: 47%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 475px) and (max-width: 650px) {
  .button {
    color: white;
    @apply rounded-[10px] font-semibold justify-self-end px-2 py-2;
    width: 25%;
    font-size: small;
  }
}

@media (max-width: 475px) {
  .table {
    @apply border-collapse;
    margin-top: 50px;
    width: 50%;
  }

  .input {
    width: 100%;
  }

  .th,
  .td {
    @apply border-solid border-2 border-gray-400 text-center text-xs;
  }

  .button {
    background-color: #067496;
    color: white;
    @apply rounded-[10px] font-bold justify-self-end text-sm;
    width: fit-content;
  }

  .accept {
    @apply text-xs;
    width: fit-content;
  }

  .deny {
    @apply text-xs;
    width: fit-content;
  }
}
