.drop-zone {
  width: 300px;
  aspect-ratio: 1/1;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #067496;
  border-radius: 10px;
}
.file-container__input {
  display: none;
}
.btn-upload {
  background-color: #067496 !important;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  opacity: 1;
  display: block;
  text-align: center;
}

.btn-upload:hover {
  opacity: 0.7;
}

.popup {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5cb85c;
  padding: 20px;
  border-radius: 5px;
  z-index: 1000;
  color: #050000;
}

.popup.error {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fb7d7d;
  padding: 20px;
  border-radius: 5px;
  z-index: 1000;
  color: #050000;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
  background-image: url("../../public/csv-icon.png");
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
